/* Sticky footer styles
-------------------------------------------------- */
html {
	position: relative;
	min-height: 100%;
}

body {
	/* Margin bottom by footer height */
	margin-bottom: 60px;

}

#footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	min-height: 60px;
	height: auto;
	background-color: #f5f5f5;
}


/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container {
	width: auto;
	max-width: 1200px;
	padding: 0 15px;
}

.text-muted {
	position: relative; 
	margin: 20px 0 20px 100px;
}

/*--------------------------------------------------------
 * Custom made CSS for other elemtnts, as the need arises
 * -------------------------------------------------------*/
#decal {
	position: relative;
	top: -20px;
	background-image: url("./images/OSUDecal.png");
	background-repeat: repeat-x;
	height: 20px;
	width: auto;
}

#footerpic {
	position: absolute;
	height: 31px;
	top: 50%;
	margin-top: -15px;
	width: 88px;
	opacity: .4;
	filter: alpha(opacity: 40);
}

#footerpic:hover {
	opacity: 1;
	filter: alpha(opacity: 100);
}

#headshot {
	width: 100%;
	height: auto;
}
